fastapi>=0.110.0
uvicorn>=0.29.0
langgraph>=0.0.30
langchain>=0.1.13
langchain-anthropic>=0.1.4
langchain-core>=0.1.33
pydantic>=2.6.4
psycopg2-binary>=2.9.9
pandas>=2.2.1
python-dotenv>=1.0.1
requests>=2.31.0

langchain-openrouter>=0.1.0
ipython>=8.22.2
python-multipart>=0.0.9


